<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>{% block title  %}Ready2Hire{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true"> -->
    <!-- <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='main2.css')}}"> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- CSS only -->
    <link rel="icon" href="{{ url_for('static', filename='ic2.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='home.css')}}">
    {% block cssfiles %}
    
    {% endblock %}
    <!-- <script src='main.js'></script> -->
</head>
<body>
  <header>
    <nav>
        <div class="menu-btn">
            <div class="menu-btn__burger"></div>
        </div>
        <label class="logo">Ready2Hire</label>
        <ul id="list-menu">
          <li><a class="" href="{{ url_for('index')}}">Home</a></li>
          <li><a href="{{ url_for('about')}}">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="{{ url_for('contact')}}">Contact</a></li>
          <li><a href="#">Feedback</a></li>
        </ul>
    </nav>
  </header>

  {% block content %}

  {% endblock %}

  {% block scripts %}

  {% endblock %}
</body>