{% extends 'base.html' %}
{% block title %} 
signup_emp
{% endblock %}

{% block cssfiles %}
   <link rel="stylesheet" href="{{url_for('static',filename='login/login.css')}}">
{% endblock %}

{% block content %}


<section>
  <div class="heading">This is Company Log-In</div>
    <form method="POST" action="#">
        <div class="wrapper">
            <div class="input-data">
                <input type="text" name="email" required>
                <div class="underline"></div>
                <label>Email</label>
            </div>
        </div>

        <div class="wrapper">
            <div class="input-data">
                <input type="password" name="password" required>
                <div class="underline"></div>
                <label>Password</label>
            </div>
        </div>

        <div class="wrapper">
            <div class="input-data">
                <input type="submit" value="log In">
            </div>
            <a href="{{ url_for('signup_cmp')}}">click here to sign up</a>
        </div>
        
    </form>
</section>

{% endblock %}

<!-- ---------------------This is Scripts block--------------------- -->
{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
        const menuBtn = document.querySelector('.menu-btn');
    let menuOpen = true;
    menuBtn.classList.add('open');
    menuBtn.addEventListener('click', () => {
        let lm=document.querySelector('#list-menu');
    if(!menuOpen) {
        menuBtn.classList.add('open');
        menuOpen = true;
        lm.style.left ="0px";
    } else {
        menuBtn.classList.remove('open');
        lm.style.left ="-400px";
        menuOpen = false;
    }
    });
    window.onscroll=function(){
        menuBtn.classList.remove('open');
        let lm=document.querySelector('#list-menu');
        lm.style.left ="-400px";
        menuOpen = false;
    }
</script>
{% endblock %}