{% extends 'base.html' %}

{% block title %} 
{{ super() }}
- signup_emp
{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
<style>

body{
  height: 100vh;
  width: 100vw;
  background-image: url("../static/sign_back.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
    margin-top: 1cm;
    padding:40px;
    height:60%;
    width: 95%;
    /* background-color: #a4a1a3e8; */
    border-radius:40px 0px;
}

input[type=text],input[type=password],input[type=email],input[type=file]{
    width:70%;
    min-width: 135px;
    width: 70%;
    max-width: 315px;
    border-radius: 1.5rem;
    padding: .75rem;
    text-align: center;
    /* max-height: 45px; */
}

input[type=file]{
    padding:4px;
}
.col{
    width:50%;
    display: flex;
    justify-content: space-between;
}
.row{
    margin-top: 5px;
}
label{
   /* color: rgb(92, 119, 170); */
   color: white;
    font-weight: bold;
    /* margin-bottom: 0; */
    font-size: 1.5rem;
}

.options{
    display: flex;
    justify-content: space-around;
}

.suboptions{
    justify-content:center;
}

.btn-danger{
      background-color: green;
      border:green;
      padding:1%;
      border-radius: 1rem;
      float: right;
    }
@media screen and (max-width:750px) {
    .row{
        display: block;
        width:100%;
    }
    .container {
        width:95%;
        height: 100%;
        
    }
    .col{
        display: block;
        width:100%;
        margin-bottom:5px;
    }
    input[type=text],input[type=password],input[type=email]{
        width:100%;
    }
}
/* 
@media screen and (min-width:750px){
    .container{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
    }
} */
meter{
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    margin-left: 4cm;
    width: 4cm;
    height: 8mm;
    background: none;
  background-color: rgba(0, 0, 0, 0.1);
    

}

meter::-webkit-meter-bar {
  background: none;
  background-color: rgba(0,0,0,0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }


</style>

<div class="wrapper">
  <form method="POST" action="#">
    <div class="container">
        
            <div class="row">
                <div class="col">
                    <label for="full-name">Full Name</label>
                  <input type="text" class="form-control" id="full-name" name="name" placeholder="Full name" minlength="8" maxlength="16" required>
                </div>
                <div class="col">
                    <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Phone-No">Phone No</label>
                  <input type="text" class="form-control" id="Phone No" name="phone" placeholder="Phone No" required>
                </div>
                <div class="col">
                    <label for="Address">Address</label>
                  <input type="text" class="form-control" id="Address" name="address" placeholder="current address" required>
                </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <!-- (State )<<<<-------This is the new field -->
                    <label for="City">City</label>
                  <input type="text" class="form-control" id="City" name="city" placeholder="current City" required>
                </div>
                <div class="col">
                    <label for="State">State</label>
                  <input type="text" class="form-control" id="State" name="state" placeholder="current State" required>
                </div>
                
            </div>
            
            <div class="row">
                <div class="col">
                    <label for="skills">Spefiality/skills</label>
                  <input type="text" class="form-control" id="skills" name="skill" placeholder="Your skills" required>
                </div>
                <div class="col">
                    <label for="charge">Initial Charge</label>
                  <input type="text" class="form-control" id="charge" name="charge" placeholder="Your charge" required>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="Username">Username</label>
                  <input type="text" class="form-control" id="Username" name="username" placeholder="Username" required>
                </div>
                <div class="col">
                    <label for="full-name">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Create a password" required>
                </div>
                <!-- <div class="col">
                    <label for="confirm">confirm password</label>
                  <input type="password" class="form-control" id="confirm" placeholder="confirm password" required>
                </div> -->
            </div>
            <div>
                <meter max="4" id="password-strength-meter" style="background-color: inherit;"></meter>
                  <p id="password-strenght-meter"></p>
            </div>


            <div class="row options">
                <div class="col suboptions">
                    <div class="form-group">
                        <label for="Gender">Gender</label>
                        <select class="form-control" name="gender" id="Gender" required>
                          <option>Male</option>
                          <option>Female</option>
                          <option>Transgender</option>
                        </select>
                    </div>
                </div>
                <div class="col suboptions">
                    <div class="form-group">
                        <label for="Experience">Experience</label>
                        <select class="form-control" name="exp" id="Experience" required>
                        <option>none</option>
                        <option>1 year</option>
                        <option>2 years</option>
                        <option>3 years</option>
                        <option>4 years</option>
                        <option>5 years</option>
                        <option>6 year</option>
                        <option>7 years</option>
                        <option>8 years</option>
                        <option>9 years</option>
                        <option>10 years</option>
                        <option>11 year</option>
                        <option>12 years</option>
                        <option>13 years</option>
                        <option>14 years</option>
                        <option>15 years</option>
                        </select>
                    </div>
                </div>
            </div>
                            
            <button type="submit" class="btn btn-danger">Submit</button>
          
    </div>
  </form>
</div>
{% endblock %}

<!-- ---------------------This is Scripts block--------------------- -->
{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    const menuBtn = document.querySelector('.menu-btn');
let menuOpen = true;
menuBtn.classList.add('open');
menuBtn.addEventListener('click', () => {
    let lm=document.querySelector('#list-menu');
  if(!menuOpen) {
    menuBtn.classList.add('open');
    menuOpen = true;
    lm.style.left ="0px";
  } else {
    menuBtn.classList.remove('open');
    lm.style.left ="-400px";
    menuOpen = false;
  }
});
window.onscroll=function(){
    menuBtn.classList.remove('open');
    let lm=document.querySelector('#list-menu');
    lm.style.left ="-400px";
    menuOpen = false;
}

var strength = {
    0: "Worst ☹",
    1: "Bad ☹",
    2: "Weak ☹",
    3: "Good ☺",
    4: "Strong ☻"
}

var password = document.getElementById('password');
var meter = document.getElementById('password-strength-meter');
var text = document.getElementById('password-strength-text');

password.addEventListener('input', function()
{
    var val = password.value;
    var result = zxcvbn(val);
  
    // Update the password strength meter
    meter.value = result.score;
   
    // Update the text indicator
    if(val !== "") {
        text.innerHTML = "Strength: " + "<strong>" + strength[result.score] + "</strong>" + "<span class='feedback'>" + result.feedback.warning + " " + result.feedback.suggestions + "</span"; 
    }
    else {
        text.innerHTML = "";
    }
});


Resources
</script>
{% endblock %}